/*gradient background*/
.background-image, .background-overlay {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 700px;
}
.background-overlay {
  z-index: 1;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(29,29,29,0.5)),color-stop(100%,#353535));
  background: -webkit-linear-gradient(top,rgba(29,29,29,.5) 0,#353535 100%);
  background: linear-gradient(to bottom,rgba(29,29,29,.5) 0,#353535 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#801d1d1d',endColorstr='#1d1d1d',GradientType=0);
}
.main-container {
  z-index: 9;
}
@media (min-width: 991px){
  .bar--transparent {
    background: rgba(51, 51, 51, 0.25);;

  }
  .border--bottom-1px {
    border-bottom: 1px solid rgba(102, 102, 102, 0.68);
  }
}
@media (max-width: 767px) {
  .menu-horizontal {
    font-size: 1.1em;
  }
}
.menu-horizontal > li > a, .menu-horizontal > li > .modal-instance > a {
  font-size: 1.2em;
}
.menu-horizontal > li > a:hover, .menu-horizontal > li > .modal-instance > a:hover {

}
